---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";

const posts = await getCollection("writings");

const topics = [
    ...posts
        .reduce(
            (set, post) => set.union(new Set(post.data.topics)),
            new Set<string>(),
        )
        .values(),
];
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h2>Topics</h2>
                {
                    topics.map((topic, i, { length }) => (
                        <>
                            <a
                                href={`${import.meta.env.BASE_URL}/topics/${topic}`}
                            >
                                {topic}
                            </a>
                            {i < length - 1 && ", "}
                        </>
                    ))
                }
            </section>
        </main>
        <Footer />
    </body>
</html>
