---
import HeaderLink from "@/components/HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
---

<header>
	<nav>
		<h1><a href={`${import.meta.env.BASE_URL}`}>{SITE_TITLE}</a></h1>
		<ul>
			<li>
				<HeaderLink href={`${import.meta.env.BASE_URL}`}
					>Home</HeaderLink>
			</li>
			<li>
				<HeaderLink href={`${import.meta.env.BASE_URL}/writings`}
					>Writings</HeaderLink>
			</li>
			<li>
				<HeaderLink href={`${import.meta.env.BASE_URL}/about`}
					>About</HeaderLink>
			</li>
		</ul>
	</nav>
</header>
